*
{
    margin:0;
    padding: 0;
}
/*---------------------------------------head--------------------------------------------*/
#head
{
    background-color:#007bff; 
    background-size: cover;
    background-position:center;
    color:white;
    background-attachment: fixed ;
    padding-top: 15px;
    padding-bottom:15px;
    font-family: sans-serif;
}
.icon-head
{
    padding-top: 5px;
    font-size: 20px;
    margin-left:60px ;
    margin: 0 25px 5px 5px;    
}
.icon-head:hover
{
    color:black !important;
}
h1
{
    padding-top: 20px;
    text-align: left;
    margin-left: 60px;
}
h4
{
    margin-left: auto;
    margin-right: auto;
    align-items: right;
    overflow: auto;
    font-size: 5%;
    padding-top: 5px;
    
}

h6{
    padding-top: 15px;
    overflow: auto;   
}



/*-------------------------------------navigation----------------------------------*/
#nav-bar
{
    position:sticky;
    top:0;
    z-index: 10;
    font-family: sans-serif;
    background-color: white;
}
.navbar-brand 
{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0px;
}
.navbar-nav li a 
{
    float:right;
    text-align: left;

}
#nav-bar ul li a:hover
{
color:black !important;
}
.nav-bar 
{
    background: lightblue;
}
.navbar-toggler
{

}

/*--------------------------------slider--------------------------------------*/
#slider
{
    width:100%;
    font-family: sans-serif;
}
.carousel-caption
{
    
    display: inline-block;
	width: 100%;
	max-height: 100%;
	vertical-align: middle;
	white-space: normal;
	padding-left: 15px;
	padding-right: 15px;
    z-index: 1;
	position: relative;

}
.carousel-caption h5
{

color:#007bff;
font-size: 58px;
margin-bottom :50px;
padding-left:-100px;
text-align: left;
font-family: inherit;
}
/* @media(max-width:600px){
    .carousel-caption h5{
        font-size: 30px;
        margin-left: 600px;    
    }

} */
button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    align-content:center;
    background-color:#007bff;
    color: azure;
  }

  #btnThree{
      position: relative;
      margin-right: 600px;
      margin-t: 100px;
  }
.carousel-caption h6
{
    color: black;
    font-size: 20px;
    margin-bottom:200px;
    text-align: left;
}
/* @media(max-width:600px){
    .carousel-caption h6{
        font-size: 15px;
        margin-left: 600px;    
    }

} */

/*-----------------------------------------about---------------------*/

#about
{
    padding-top:  50px;
    padding-bottom: 50px;
    color: #555;
    font-family: "Alegreya Sans"; 

}
.col-md-6 h2
{
    color:#007bff;
    font-size: 40px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Alegreya Sans"; 
}
.col-md-6 h3
{
    color:#007bff;
    font-size: 20px;
    font-family: "Alegreya Sans"; 
}
.col-md-6 img
{

}

/*-------------------------------Services-------------------------*/
#services
{
    background-color:#007bff; 
    background-size: cover;
    background-position:center;
    color:white;
    background-attachment: fixed ;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: sans-serif;
}
#services h1
{
    text-align: center;
    color:white;
    padding-bottom:10px;
    font-family: sans-serif;
}
/* #services h1::after
{
    content:'';
    background: white;
    display:block;
    height:3px;
    width: 170px;
    margin:20 px auto 5px;
} */
.services
{
    margin-top: 40px;

}

.icon
{
    font-size: 30px;
    margin:20px auto;
    padding:20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.icon:hover
{
    font-size: 30px;
    color: black !important;
    border: 5px solid black;
    border-radius: 50%;
}
/* @media screen and (max-width: 300px) {
    .carousel-caption {   
        color:black !important;
    }
  } */